.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-body {
  height: 38rem;
}

.App-link {
  color: #61dafb;
}

.card {
  max-width: 450px;
}

#root {
  background-color: gray;
  background-image: url('webtools.jpg');
  /* background-repeat: no-repeat; */
  background-position: 230px 100px; 
}

#logo {
  margin-left: 2px;
}

#footer {
  background-color: rgba(241, 239, 239, 0.952);
}

h2 {
  color: orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
